
.selector-1, .selector-2, .selector-3[type='text'] {
  background: linear-gradient(#fff, rgba(0, 0, 0, 0.8));
  box-sizing: border-box;
  display: block;
  color: #333;
}

.selector-1 > .selector-2 > .selector-3 > .selector-4 > .selector-5 {
  display: block;
  color: #333;
}
